body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header h1{
  display: flex;
  justify-content: center;
  background-color: darkorange;
}

.resultBar h1{
  display: flex;
  justify-content: center;
  background-color: darkorange;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 70px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.active-square{
  background-color: red !important;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-row-action-button{
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
}


.board {
  display: inline-block;
}